.cart{
    background-color: #d9c69c;
    margin-top: -161px;
    padding-top: 141px;
    position: relative;
}
.cart__title{
    max-width: 900px;
    font-size: 42px;
    line-height: 50px;
    font-weight: 700;
    color: $black;
}