.feedback{
    padding-top: 90px;
    padding-bottom: 120px;
    background: url('../images/home/uzor-form-bg.jpg') no-repeat center;
    background-size: cover;
}

.feedback__title {
    margin-bottom: 100px;
    font-size: 42px;
    line-height: 48px;
    font-weight: 600;
    text-align: center;
}
.feedback__block {
    display: flex;
    justify-content: space-between;
}

.feedback__block-info {
    margin-bottom: 60px;
}
.feedback__block-sity {
    margin-bottom: 15px;
    font-size: 18px;
}
.feedback__block-phone,
.feedback__block-email {
    font-size: 20px;
    font-weight: 700;
    color: $white;
}

.feedback__block-social {
    display: flex;
}
.feedback__block-social img{
    margin-left: 15px;
}
.feedback__block-social img:first-child{
    margin-left: 0;
}
.feedback__block-form {
    max-width: 410px;
    padding: 50px;
    background-color: #006666;
    text-align: center;
}
.feedback-block__title {
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 35px;
}

.feedback-form__input {
    margin-bottom: 20px;
    max-width: 310px;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
    height: 55px;
    border-radius: 15px;
    border: none;   
}
.feedback-form__input::placeholder{
    color: $black;
}
.feedback-form__btn {
    width: 310px;
    width: 100%;
    background-color: #d2a23a;
    height: 55px;
    border-radius: 30px;  
    border: none;
    font-size: 18px;
    text-transform: uppercase;   
}


@media(max-width:1050px){
.feedback__block{
    flex-direction: column;
    align-items: center;
}
}

@media(max-width:1050px){
    .feedback__title{
        font-size: 24px;
        margin-bottom: 15px;
    }
    .feedback{
        padding-top: 25px;
        padding-bottom: 10px;
    }
    .feedback__block-info{
        margin-bottom: 25px;
    }
    .feedback__block-sity{
        margin-bottom: 0;
    }
    .feedback__block-phone,
    .feedback__block-email{
    font-size: 18px;
}
    .feedback-block__title{
    font-size: 18px;
    line-height: 24px;
}
    .feedback-form__input,
    .feedback-form__btn{
        height: 45px;
        font-size: 16px;
}
.feedback__block-social{
    margin-top: 10px;
}
}