.footer{
    background-color: #065775;
    padding-top: 100px;
    padding-bottom: 55px;
    color: $black;
}
.footer__title {
    margin-bottom: 76px;
    font-size: 42px;
    line-height: 52px;
    font-weight: 300;
    color: $white;
}
.footer__map {
    margin-bottom: 55px;
}
.footer__inner {
    padding-top: 65px;
    padding-bottom: 75px;
    background-color: #d8c69d;
}
.footer__inner-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer__inner-item {
    max-width: 300px;
}
.footer__inner-logo {
    margin-bottom: 35px;
}
.footer__inner-text {
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    font-style: italic;
}

.footer__menu-item {
    margin-bottom: 25px;
}
.footer__menu-link {
    font-size: 14px;
    color: $black;
    text-transform: uppercase;
}
.footer__inner-info {
    margin-bottom: 50px;
}
.footer__inner-sity {
    font-weight: 300;
    margin-bottom: 5px;
}
.footer__inner-phone {
    color: $black;
    font-weight: 600;
}
.footer__inner-email {
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: 300;
}
.footer__inner-contact {
    margin-bottom: 50px;
    font-size: 14px;
    font-weight: 300;
}
.footer__inner-social {
    display: flex;
}
.footer__inner-social img{
    margin-right: 5px;
}
.footer__company {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer__company img {
    margin-bottom: 15px;
}
.footer__inner-social--desctop{
    display: none;
}
.footer-mobile__company{
    display: none;
}


@media(max-width:500px){
    .footer__title{
        font-size: 24px;
        line-height: 30px;
    }
    .footer{
        padding-top: 40px;
        padding-bottom: 10px;
    }
    .footer__inner-item.footer__inner-item-desctop{
        display: none;
    }
    .footer__inner-item.footer__menu{
        display: none;
    }
    .footer__inner-item,
    .footer__inner-social--desctop{
        margin-left: 40px;
    }
    .footer__inner-social--desctop{
        margin-top: 15px;
    }
    .footer__inner-social--desctop img{
        margin-right: 15px;
    }
    .footer{
        padding-top: 30px;
        padding-bottom: 35px;
    }
    .footer__company{
        display: none;
    }
    .footer__inner-item.footer__inner-item--questions{
        margin-left: 0;
    }
    .footer__inner-info{
        margin-bottom: 10px;
    }
    .footer__inner-sity{
        margin-bottom: 0;
    }
    .footer-mobile__company {
        display: block;
        padding-top: 30px;
        padding-bottom: 35px;
        color: #72acc1;
    }
    .footer-mobile__top {
        padding-bottom: 30px;
        display: flex;
        justify-content:space-around;
        border-bottom: 1px solid #72acc1;
    }
    .footer-mobile__top img{
        object-fit: contain;
    }
    .footer-mobile__bottom  {
        object-fit: cover;
        margin-top: 30px;
    }
    .footer__inner-item{
        margin-left: 0;
    }
    .footer__inner-box{
        position: relative;
        z-index: 10;
    }
}