html,
body {
	height: 100%;/*sticky footer*/
	display: flex;/*sticky footer*/
	flex-direction: column;/*sticky footer*/
	color: $white;
	font-family: 'Inter';
	font-size: 18px;
	line-height: 28px;
}

body > * {
	flex-shrink: 0;
	/*sticky footer*/
  }
.footer{
	margin-top: auto;/*sticky footer*/
}

.container{
  max-width: 1455px;
  margin: 0 auto;
  padding: 0 15px;
}
button{
	cursor: pointer;
}





