.hadh {
    padding-top: 115px;
    padding-bottom: 110px;
    color: $black;
}

.hadh__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
blockquote{
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 34px;
}

.hadh__content {
    max-width: 840px;
    margin-left: 80px;
}
.hadh__content-text {
    margin-bottom: 75px;
    font-size: 18px;
    line-height: 28px;
}
.hadh__content-text:last-child{
    margin-bottom: 0;
}
.hadh__title {
    margin-top: 130px;
    margin-bottom: 75px;
    font-size: 42px;
    line-height: 50px;
    font-weight: 700;
    text-align: center;
}
.hadh__block {
    margin-bottom: 95px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 50px;
}
.hadh__block-item {
    margin-bottom: 55px;
    width: 290px;
    text-align: center;
}

.hadh__block-text {
    margin-top: 20px;
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
}
.hadh__block-img{
    margin-left: auto;
    margin-right: auto;
}
.hadh__blockquote{
    font-size: 24px;
    line-height: 34px;
    max-width: 665px;
    margin-left: auto;
    margin-right: auto;
}
.hadh__blockquote::before,
.hadh__blockquote::after{
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
  
}
.hadh__blockquote::before{
    background: url('../images/home/kovichki-left.png') no-repeat;
    top: 0;
    left: -50px;
}
.hadh__blockquote::after{
    background: url('../images/home/kovichki-rigth.png') no-repeat;
    right: 0px;
}


@media(max-width:968px){
    .hadh__box{
        flex-direction: column;
        align-items: center;
    }
    .hadh__content{
        margin-top: 30px;
        margin-left: 0;
        text-align: center;
    }
    .hadh__blockquote::before{
        left: -25px;
    }
    .hadh__blockquote::after{
        right: 20px;
    }
    .hadh__blockquote{
        max-width: 530px;
    }
    .hadh__content-text{
        margin-bottom: 35px;
    }
    .hadh{
        padding-top: 35px;
        padding-bottom: 35px;
    }
}
@media(max-width:500px){
    .hadh__blockquote{
        max-width: 310px;
    }
    .hadh__content-text{
        font-size: 16px;
        line-height: 23px;
    }
    .hadh__blockquote::before{
        left: 0px;
    }
    .hadh__blockquote{
        font-size: 22px;
        line-height: 28px;
        font-weight: 600;
    }
    .hadh__title{
        margin-top: 50px;
        margin-bottom: 24px;
        font-size: 24px;
        line-height: 33px;
    }
    .hadh__block-text{
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 5px;
    }
    .hadh__block-item{
        margin-bottom: 20px;
    }
}







/* smallhadh */
.small-hadh {
    background: url('../images/small-hadh/smallhadh-bg.jpg') no-repeat center center;
    background-size: cover;
    padding: 70px;
    border-radius: 30px;
}

.small-hadh__text {
    margin-bottom: 50px;
    font-size: 24px;
    line-height: 34px;
}
.small-hadh__title {
    margin-bottom: 60px;
    font-size: 42px;
    line-height: 34px;
    font-weight: 600;
    text-align: center;
}
.small-hadh__box {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}
.small-hadh__box-item {
    flex-basis: 275px;
}
.small-hadh__box-img {
    margin-left: auto;
    margin-right: auto;
}
.small-hadh__box-title {
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 20px;
}
.small-hadh__box-text {
    font-size: 16px;
}
.hadh__blockquote{
    position: relative;
}

@media(max-width:1200px){
    .small-hadh{
        max-width: 1100px;
    }
}
@media(max-width:768px){
    .small-hadh__text{
        margin-bottom: 25px;
        font-size: 22px;
        line-height: 30px;
        text-align: center;
    }
    .hadh__block{
        margin-bottom: 10px;
    }
    .small-hadh__box{
        flex-direction: column;
        align-items: center;
    }
    .small-hadh{
        padding: 40px;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media(max-width:500px){
    .small-hadh__text{
        font-size: 16px;
        line-height: 24px;
    }
    .small-hadh__title{
        margin-bottom: 25px;
        font-size: 24px;
        line-height: 33px;
    }
    .small-hadh__box-item{
        margin-bottom: 15px;
    }
    .small-hadh__box-text{
        line-height: 24px;
    }
}









/* document */
.document {
    padding-top: 120px;
    padding-bottom: 200px;
    color: $black;
}

.document__title {
    margin-bottom: 85px;
    font-size: 42px;
    font-weight: 600;
    text-align: center;
}
.document__block {
    display: flex;
    justify-content: center;
    column-gap: 70px;
    flex-wrap: wrap;
}
.document__block-item {
    width: 295px;
}
.document__block-img {
    margin-bottom: 40px;
}
.document__block-title {
    width: 170px;
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
}
.document__block-text {
    font-size: 18px;
    line-height: 28px;
}

@media(max-width:1200px){
    .document{
        padding-top: 40px;
        padding-bottom: 25px;
    }
}


@media(max-width:700px){
    .document__block-item{
        margin-bottom: 20px;
    }
}
@media(max-width:500px){
    .document__title{
        margin-bottom: 30px;
        font-size: 24px;
        line-height: 31px;
    }
    .document{
        padding-top: 40px;
        padding-bottom: 25px;
    }
    .document__block-img {
        margin-bottom: 10px;
    }
    .document__block-title{
        margin-bottom: 10px;
        font-size: 20px;
        line-height: 24px;
    }
    .document__block-text {
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 24px;
    }
}




.umra{
    padding-top: 100px;
    padding-bottom: 100px;
    color: $black;
}

.umra__block {
   margin-bottom: 110px;
}
.umra__block-title {
    max-width: 980px;
    margin-bottom: 65px;
    font-size: 42px;
    line-height: 48px;
    font-weight: 600;
}
.umra__block-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.umra__block-wrapper.umra__block-wrapper-even{
    order: -1;
}
.umra__block-text {
    margin-left: 90px;
    max-width: 700px;
    font-size: 18px;
    line-height: 28px;
}
.umra__block-text.umra__block-text-even{
    margin-left: 0;
}
.umra__block-img{
    border: 1px solid #d2a23a;
    padding: 20px;
    border-radius: 20px;
}



@media(max-width:968px){
    .umra__block-content{
       flex-direction: column;
       align-items: center;
    }
    .umra__block-text{
        margin-bottom: 30px;
    }
    .umra__block-title{
        text-align: center;
    }
    .umra__block-img{
        margin-bottom: 30px;
    }
    .umra__block{
        margin-bottom: 40px;
    }
   
}


@media(max-width:500px){
    .umra__block-title{
        margin-bottom: 15px;
        font-size: 24px;
        line-height: 30px;
    }
    .umra{
        padding-top: 55px;
        padding-bottom: 0;
    }
    .umra__block-text{
        margin-left: 0;
        font-size: 16px;
        line-height: 24px;
    }
    .umra__block{
        margin-bottom: 10px;
    }
}








/* hadh-tour */
.hadh-tour{
    color:$black;
    padding-top: 115px;
}
.hadh-tour__title {
    margin-bottom: 60px;
    max-width: 1070px;
    font-size: 42px;
    line-height: 48px;
    font-weight: 600;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.hadh-tour__text {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 28px;
}
.hadh-tour__img {
    margin-bottom: 120px;
}
.hadh-tour__subtitle {
    margin-bottom: 70px;
    max-width: 1200px;
    font-size: 42px;
    line-height: 48px;
    font-weight: 600;
    text-align: center;
}
.hadh-tour__block {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
}
.hadh-tour__block-item {
    max-width: 630px;
    margin-bottom: 100px;
}
.hadh-tour__block-img {
    border: 1px solid #d2a23a;
    padding: 20px;
    border-radius: 20px;
}
.hadh-tour__block-title {
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 42px;
    line-height: 48px;
    font-weight: 600;
}
.hadh-tour__block-text {
    font-size: 18px;
    line-height: 28px;
}


@media(max-width:500px){
    .hadh-tour__title,
    .hadh-tour__subtitle,
    .hadh-tour__block-title{
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 15px;
    }
    .hadh-tour{
        padding-top: 50px;
    }
    .hadh-tour__img {
        margin-bottom: 30px;
    }
    .hadh-tour__block-item{
        margin-bottom: 25px;
    }
    .hadh-tour__block-text {
        font-size: 16px;
        line-height: 24px;
    }
    .hadh-tour__block-title{
        margin-top: 10px;
    }
    
}





/* parther */
.parther{
    padding-top: 120px;
    padding-bottom: 150px;
}
.parther__title{
    margin-bottom: 150px;
    font-size: 42px;
    line-height: 48px;
    font-weight: 600;
    text-align: center;
    color: $black;
}
.parther__box{
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
   align-items: center;
    column-gap: 200px;
    row-gap: 50px;
}
.parther__box img{
    max-width: 300px;
}



@media(max-width:500px){
    .parther__title{
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 15px;
    }
    .parther{
        padding-top: 45px;
        padding-bottom: 15px;
    }
    .parther__box{
        row-gap: 25px;
    }
}



