.meka{
    background: url('../images/home/bg-meka.jpg') no-repeat center;
    background-size: cover;
    padding-top: 100px;
}

.meka__box {
    display: flex;
    justify-content: space-between;
}
.meka__box-content {
    max-width: 900px;
}
.meka__box-title {
    margin-bottom: 65px;
    font-size: 42px;
    line-height: 50px;
    font-weight: 700;
}
.meka__box-text {
    max-width: 740px;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}


@media(max-width:1250px){
    .meka__box{
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width:550px){
    .meka__box-title {
        margin-bottom: 30px;
        font-size: 24px;
        line-height: 33px;
    }
    .meka{
        padding-top: 45px;
    }
    .meka__box-text{
        font-size: 16px;
        line-height: 26px;
    }
}
