.questions{
    padding-top: 120px;
    padding-bottom: 120px;
}
.questions-footer__wrapper{
    margin-bottom: 20px;
   width: 230px;
    padding: 30px;
    border: 1px solid #065775;
    color: $black;
}
.questions-footer__title{
    margin-bottom: 60px;
    max-width: 1030px;
    margin-left: auto;
    margin-right: auto;
    font-size: 42px;
    line-height: 48px;
    font-weight: 600;
    color: $black;
    text-align: center;
}
.questions-accardion__btn {
    margin-bottom: 20px;
    max-width: 1000px;
    width: 100%;
    position: relative;
}
.questions-accardion__title{
    margin-left: 40px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 30px;
}
.questions-accardion__text{
    margin-left: 40px;
}
.questions-accardion__title::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url('../images/home/arrow-questions.png');
    background-repeat: no-repeat;
    left: 0;
    top: 3px;
}
.questions-accardion__content {
    display: none;
}
.questions-footer__menu{
    display: block;
}
.questions__footer{
    display: none;
}




@media(max-width:500px){
    .questions__title{
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 20px;
    } 
    .questions{
        padding-top: 30px;
        padding-bottom: 0;
    }
    .questions-footer__wrapper{
        padding: 10px;
    }
    .questions-accardion__title::before{
        top: 6px;
    }
    .questions-accardion__title{
        font-size: 16px;
        line-height: 24px;
    }
    .questions-accardion__btn{
        margin-bottom: 0;
    }
    .questions__footer{
        display: block;
        margin-top: 15px;
    }
    .questions-footer__menu{
        color: $black;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .questions-accardion__text.questions-accardion__text--footer{
        margin-left: 0;
    }
}