.service-tour {
    padding-top: 120px;
    padding-bottom: 110px;
    background: url('../images/home/service-tour/service-bg.jpg') no-repeat center;
    background-size: cover;
    color: $black;
}
.service-tour__title {
    margin-bottom: 70px;
    max-width: 1010px;
    margin-left: auto;
    margin-right: auto;
    font-size: 42px;
    line-height: 48px;
    text-align: center;
}
.service-tour__block {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.service-tour__item {
    width: 215px;
    text-align: center;
}
.service-tour__item-img {
    margin-bottom: 15px;
}
.service-tour__item-title {
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
}
.heading__form.service-form{
    align-items: center;
}
.heading__form-text.service__text{
    max-width: 350px;
    font-size: 28px;
    font-weight: 600;
}


@media(max-width:500px){
    .service-tour__title{
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 25px;
    }
    .service-tour{
        padding-top: 40px;
        padding-bottom: 25px;
    }
    .service-tour__item-title{
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 35px;
    }
    .service-tour__item{
        margin-bottom: 5px;
    }
    .service-tour__block{
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }
    .heading__form-text.service__text{
        font-size: 18px;
    }
}

